{% extends 'main/base.html' %}

{% block title %}
Раздел "Программирование"
{% endblock %}

{% block content %}
    <h1>Раздел "Программирование"</h1>
    <p>Задайте вопрос, или помогите коллеге найти ответ</p>
    <a href="{% url 'home' %}">Вернуться на главную</a>

     {% if questions %}
        {% for question in questions %}
        <div class="alert alert-success mt-2">
        <h2>{{question.title}}</h2>
        <p>{{question.describe }}</p>
        </div>

        {% endfor %}
    {%else%}
    <p>Нет вопросов</p>
    {% endif %}
{% endblock %}