{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <p>Здесь вы можете выбрать интересующий раздел</p>
    <div class="alert alert-warning mt-2">
        <h2>Программирование</h2>
        <p>Данный раздел посвящен программированию</p>
        <a href="{% url 'coding' %}">Перейти в раздел</a>
    </div>
    <div class="alert alert-warning mt-2">
        <h2>Базы данных</h2>
        <p>Данный раздел посвящен базам данных</p>
        <a href="{% url 'databases' %}">Перейти в раздел</a>
    </div>
    <div class="alert alert-warning mt-2">
        <h2>Криптовалюты</h2>
        <p>Данный раздел посвящен криптовалюте</p>
        <a href="{% url 'crypto' %}">Перейти в раздел</a>
    </div>
    <div class="alert alert-warning mt-2">
        <h2>Другое</h2>
        <p>Данный раздел посвящен вопросам, не вошедшим ни в один раздел</p>
        <a href="{% url 'other' %}">Перейти в раздел</a>
    </div>


{% endblock %}
